.card-ios{
  margin-bottom: 0px;
  margin-top: 0px;
}
.bottombutton{
  width: 40vw;
}
.bottomcomands{

  position: fixed;
  bottom: 0px;
  width: 100vw;
  background-color:grey;
  left:0px;
  text-align: center;
}
ion-footer{
  position: fixed;
  text-align: center;
  bottom: 0px;
}
section{
  margin-bottom: 50px;
}
